body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
svg:hover,
svg:focus {
  fill: brown;
}
.email-link:hover,
.email-link:focus {
  color: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/*HEADER/HERO mob*/
.hero {
  padding-bottom: 80px;
  background-position: 44% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(196, 130, 44, 0.2),
      rgba(196, 130, 44, 0.2)
    ),
    url("./images/hero-image-bg-mob@2x.jpg");
  display: flex;
  flex-direction: column;
  gap: 175px;
  box-shadow: 0px -75px 100px 33px #000000 inset;
}
.header {
  padding-top: 9px;
  padding-bottom: 9px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}
.card-img:hover {
  cursor: pointer;
}
.header-list {
  display: none;
}
.header-list-menu-link:focus {
  color: brown;
}
.header-icons-link:hover,
.header-icons-link:focus .icon-header {
  fill: brown;
}
.language {
  background-color: transparent;
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  margin-right: 15px;
  border: none;
}
.language:hover {
  cursor: pointer;
}
.header-lang-option {
  text-align: left;
  color: #434455;
}
.header-line-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-line-box::before {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  stroke-width: 0.874px;
  stroke: #fff;
  opacity: 0.5;
  background-color: #fff;
  margin-right: 19px;
}
.header-lang {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-menu {
  fill: #fff;
}
.icon-menu:hover {
  cursor: pointer;
}
.header-icons {
  display: none;
}
.header-icons-link:focus .icon-header {
  fill: brown;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero-about {
  color: #fff;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.13em;
  margin-bottom: 12px;
}
.hero-order-button {
  padding: 12px 6px;
  border-radius: 3px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-button:hover,
.hero-order-button:focus {
  background: #e37209;
}
.hero-order-price {
  display: inline-flex;
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-order-price::before {
  display: block;
  content: "";
  width: 1px;
  height: 18px;
  stroke-width: 0.874px;
  stroke: #1a1917;
  opacity: 0.5;
  background-color: #1a1917;
  margin-left: 8px;
  margin-right: 8px;
}
.hero-story {
  width: 68px;
}
.hero-story-down {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.83;
  text-transform: uppercase;
}
.icon-header-scroll-down {
  display: block;
  fill: #fff;
  margin: 0 auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-header-scroll-down:hover {
  cursor: pointer;
  color: brown;
}

/*DESCRIPTION-SECTION mob*/
.description-section {
  padding-top: 20px;
  padding-bottom: 36px;
  background-origin: border-box;
  background-position: 32% -1px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(15, 15, 15, 0.7),
      rgba(15, 15, 15, 0.7)
    ),
    url("/images/cave.jpg");
  box-shadow: -12px 0px 100px 60px rgba(0, 0, 0, 1) inset;
  height: 710px;
}

.description {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11em;
}
.description-text-part {
  margin-bottom: 30px;
}
.description-about-wrapper {
  width: 230px;
}
.description-about {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.description-about::after {
  width: 306px;
  height: 1.7px;
  border-radius: 2.345px;
  background: #fff;
  content: "";
  display: block;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.description-about-game {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05em;
  padding-left: 22px;
}
.description-images {
  position: relative;
  left: 23px;
}
.deskr-img-list {
  left: 0;
  top: 0;
  position: absolute;
}

/*SECTION 3 FEATURES MOB*/
.features {
  padding-top: 80px;
  padding-bottom: 85px;
  background-color: #000;
  background-position: 36% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(255, 181, 72, 0.1),
      rgba(255, 181, 72, 0.1)
    ),
    url("/images/men.jpg");
  box-shadow: -100px -32px 100px 100px rgba(0, 0, 0, 1) inset;
}
.features-wrapper {
  margin-left: 100px;
  min-width: 183px;
}
.features-subtitle {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.features-tittle {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 57px;
}
.features-goals-list-item {
  position: relative;
  overflow: hidden;
}
.features-goals-list-tittle::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #ffb548;
  border-radius: 100%;
  margin-right: 32px;
}
.features-goals-list-tittle {
  color: #ffb548;
  font-family: Bebas Neue;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  margin-bottom: 36px;
}
.features-goals-list-tittle:focus {
  cursor: pointer;
  color: brown;
}
.features-goals-list-item:focus .overlay {
  transform: translateY(60%);
}
.features-goals-list-item:focus .features-goals-list-tittle {
  height: 100px;
}
.features-overlay-text {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 80px;
  padding: 1px 1px;
  transform: translateY(-100%);
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*REQUIREMENTS SEC 4 MOB*/
.requirements {
  background-color: #000;
  padding-top: 70px;
  padding-bottom: 350px;
  background-position: center 90%;
  background-size: 170% 58%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, black 0%, transparent 100%),
    url("/images/sos.jpg");

  box-shadow: 0px -26px 35px 15px rgba(0, 0, 0, 1) inset;
}
.requirements-text-wrapper {
  margin-bottom: 70px;
  text-align: center;
}
.requirements-text-tittle {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11em;
  margin-bottom: 10px;
}
.requirements-text-sub-tittle {
  color: #fff;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.requirements-table {
  border: 0.5px solid rgba(151, 151, 151, 0.2);
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 0.5px solid rgba(151, 151, 151, 0.2);
  padding: 9px;
}
tr {
  padding: 9px;
  border: 0.5px solid rgba(151, 151, 151, 0.2);
}
.requirements-table-tittle-feature {
  color: #ffb548;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11em;
  margin-bottom: 8px;
}
.requirements-table-feature {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

/*REVIEWS SEC 5 MOB*/
.reviews {
  padding-top: 37px;
  padding-bottom: 45px;
  background-color: #000;
  background-image: linear-gradient(
      rgba(15, 15, 15, 0.85),
      rgba(15, 15, 15, 0.85)
    ),
    url(/images/quotes-bg.jpg);
  background-size: cover;
  box-shadow: -12px 0px 100px 60px rgba(0, 0, 0, 1) inset;
}
.reviews-goal {
  margin-bottom: 36px;
}
.reviews-goals-title {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11em;
  margin-bottom: 5px;
}
.reviews-goals-subtitle {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.reviews-goal-text {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  margin-bottom: 28px;
}
.reviews-goal-link {
  width: 216.496px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 2.94px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  padding: 15px;
  display: block;
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: inherit;
  margin-left: auto;
  margin-right: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews-goal-link:hover,
.reviews-goal-link:focus {
  background: #e37209;
}
.reviews-list-wrapper {
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  padding: 10px 13px 15px 15px;
}
.reviews-images-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.reviews-images-name {
  display: flex;
  gap: 20px;
}
.reviews-list-wrapper:not(:last-child) {
  margin-bottom: 21px;
}
.reviews-img {
  border-radius: 100px;
  border: 4px solid #ffb548;
  border-top: none;
  border-left: none;
}
.media-twitter {
  flex-shrink: 0;
  fill: #fff;
  opacity: 0.3;
}
.reviews-name {
  color: #ffb548;
  font-family: Bebas Neue;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  margin-bottom: 3px;
}
.reviews-player {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  opacity: 0.5;
}
.reviews-comment {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}
.reviews-date {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
/*NEWSLETTER SEC 6 mob*/
.newsletter {
  padding-top: 64px;
  padding-bottom: 61px;
  background-color: #000;
  background-image: url(/images/newsletter.jpg);
  background-repeat: no-repeat;
  background-size: 150px 360px;
  background-position: 0 64px;
  box-shadow: -100px -46px 60px 100px rgba(0, 0, 0, 1) inset;
}
.newsletter-subscribe-descr {
  width: 189px;
  float: right;
  margin-bottom: 47px;
}
.newsletter-subscribe-descr-touch-title {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11em;
  margin-bottom: 5px;
}
.newsletter-subscribe-descr-title {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.newsletter-subscribe-descr-text {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newsletter-subscribe-item-label {
  display: block;
  margin-bottom: 20px;
}
.newsletter-subscribe-email-box {
  display: block;
  padding-left: 16px;
  width: 290px;
  height: 44px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #ffb548;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.page-footer-email-box::placeholder {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.newsletter-subscribe-button-submit {
  display: block;
  width: 100%;
  border-radius: 3px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  padding: 15px 45px;
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-subscribe-button-submit:hover,
.newsletter-subscribe-button-submit:focus {
  background: #e37209;
}
/*PAGE FOOTER mob*/
.page-footer {
  padding-top: 29px;
  padding-bottom: 61px;
  background-color: #000;
}
.page-footer-container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  justify-content: center;
}
.page-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}
.page-footer-menu-list-nav {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer-menu-link:hover,
.page-footer-menu-link:focus {
  color: brown;
}
.page-footer-menu-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.page-footer-menu-link {
  color: #fff;
  text-align: right;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.page-footer-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.page-footer-media::after {
  width: 290px;
  height: 2px;
  content: "";
  display: block;
  background-color: #fff;
  stroke-width: 0.874px;
  stroke: #fff;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}
.media-platforms {
  fill: #fff;
}
.media-youtube {
  fill: rgba(255, 19, 19, 1);
}
.page-footer-demarcation-line {
  display: none;
}
.page-footer-rights {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-bottom: 42px;
}
.page-footer-policy {
  text-align: center;
}
.page-footer-policy-item {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.page-footer-policy-item:hover,
.page-footer-policy-item:focus {
  color: brown;
}
/*===== MOBILE BACKDROP FORM =====*/
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(195deg, #785014 11.27%, #dc8a0d 90.4%);
  z-index: 9999999999999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 50px 30px 30px 30px;
  border: 3px solid #131313;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-mob {
  position: absolute;
  top: 15px;
  right: 12px;
}
.modal-button-close {
  border: none;
  background-color: transparent;
}
.modal-button-close-icon {
  fill: #000;
  background-color: transparent;
}
.modal-mob-icons-wrapper {
  margin-bottom: 40px;
}
.modal-mob-icon {
  fill: rgba(255, 181, 72, 1);
  stroke: #131313;
  margin-right: 10px;
}
.modal-mob-list-menu-item {
  border: 1px solid #1a1917;
  padding: 6px 9px;
}
.modal-mob-list-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.modal-mob-list-menu-link {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgba(196, 130, 44, 0.2),
        rgba(196, 130, 44, 0.2)
      ),
      url("/images/hero-image-bg@2x.jpg");
  }
  .description-section {
    background-image: linear-gradient(
        rgba(15, 15, 15, 0.85),
        rgba(15, 15, 15, 0.85)
      ),
      url("/images/cave@2x.jpg");
  }
  .features {
    background-image: linear-gradient(
        rgba(255, 181, 72, 0.1),
        rgba(255, 181, 72, 0.1)
      ),
      url("/images/men@2x.jpg");
  }
  .requirements {
    background-image: linear-gradient(to bottom, black 0%, transparent 100%),
      url("/images/sos@2x.jpg");
  }
  .newsletter {
    background-image: url(/images/newsletter@2x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  /*HEADER/HERO DESKTOP*/
  .hero {
    border-radius: 1px;
    background-position: 100% center;
    padding-bottom: 55px;
    background-image: linear-gradient(
        rgba(196, 130, 44, 0.2),
        rgba(196, 130, 44, 0.2)
      ),
      url("/images/hero-image-bg.jpg");
    box-shadow: 0px -75px 100px 33px #000000 inset;
    gap: 0;
  }
  .hero-box {
    padding-top: 219px;
    padding-bottom: 340px;
  }
  .header {
    padding-top: 21px;
  }
  .container {
    width: 1440px;

    padding-left: 120px;
    padding-right: 120px;
  }
  .header-container {
    justify-content: space-between;
    align-items: center;
  }
  .card-img {
    width: 55px;
    height: 55px;
  }
  .header-line-box {
    display: none;
  }
  .header-list {
    display: block;
  }
  .header-list-menu-link:hover {
    color: brown;
  }
  .header-list-menu-link {
    display: flex;
    color: #fff;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .header-icons {
    display: flex;
    gap: 15px;
  }
  .header-lang {
    display: flex;
    gap: 15px;
  }
  .header-list-menu {
    display: flex;
    gap: 32px;
  }
  .language {
    margin-right: 0;
  }
  .header-icons::before {
    display: block;
    content: "";
    width: 1px;
    height: 30px;
    stroke-width: 0.874px;
    stroke: #fff;
    opacity: 0.5;
    background-color: #fff;
    margin-right: 0px;
  }
  .icon-header {
    fill: #ffb548;
  }
  .hero-title {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0.03;
    margin-bottom: 0;
  }
  .hero-about {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin-bottom: 28px;
  }
  .hero-order-button {
    padding: 17px 16px;
    font-size: 16px;
  }
  .hero-story {
    width: 68px;
    display: block;
    margin: 0 auto;
  }
  /*DESCRIPTION-SECTION desktop*/
  .description-section {
    padding-top: 200px;
    padding-bottom: 141px;
    background-origin: padding-box;
    background-origin: border-box;
    background-position: left top;
    background-size: cover;
    background-image: linear-gradient(
        rgba(15, 15, 15, 0.85),
        rgba(15, 15, 15, 0.5)
      ),
      url("/images/cave.jpg");
    box-shadow: 0px -15px 100px 43px rgba(0, 0, 0, 1) inset;
    height: 961px;
  }
  .description-container {
    display: flex;
    gap: 30px;
  }
  .description-text-part {
    padding-top: 54px;
    padding-bottom: 108px;
  }
  .description {
    font-size: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
  }
  .description-about-wrapper {
    width: 580px;
  }
  .description-about {
    font-size: 80px;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  .description-about::after {
    border-radius: 4;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 60px;
  }
  .description-about-game-wrapper {
    margin-left: 187px;
    width: 365px;
  }
  .description-about-game {
    font-size: 18px;
    line-height: 22px;
    padding-left: 0;
    margin: 0;
  }
  .deskr-img {
    background-size: cover;
    width: 502px;
    height: 610px;
  }
  /*SECTION 3 FEATURES DESKTOP*/
  .features {
    padding-top: 170px;
    padding-bottom: 255px;
    background-position: left top;
    background-image: linear-gradient(rgba(7, 4, 44, 0.2), rgba(8, 3, 37, 0.2)),
      url("/images/men.jpg");
    box-shadow: -183px 80px 1330px 53px rgba(0, 0, 0, 1) inset;
  }
  .features-wrapper {
    padding-left: 700px;
  }
  .features-subtitle {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .features-tittle {
    font-size: 80px;
    margin-bottom: 70px;
  }
  .features-goals-list-tittle {
    font-size: 36px;
    letter-spacing: 0.05em;
  }
  .features-goals-list-tittle:hover {
    cursor: pointer;
    color: brown;
  }
  .features-goals-list-item:hover .overlay {
    transform: translateY(60%);
  }
  .features-goals-list-item:hover .features-goals-list-tittle {
    height: 100px;
  }
  .features-overlay-text {
    color: #fff;
    text-align: justify;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100px;
    padding: 1px 1px;
    transform: translateY(-100%);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*REQUIREMENTS SEC 4 DESKTOP*/
  .requirements {
    padding-top: 145px;
    padding-bottom: 170px;
    background-position: 100% 100%;
    background-size: cover;
    background-image: radial-gradient(
        50% 49.23% at 64.32% 47.1%,
        rgba(255, 255, 255, 0) 3.36%,
        rgba(0, 0, 0, 0) 19.22%,
        #080a0b 99.74%
      ),
      url("/images/sos.jpg");
  }
  .requirements-text-wrapper {
    margin-bottom: 133px;
  }
  .requirements-text-tittle {
    font-size: 24px;
    letter-spacing: 0.08em;
  }
  .requirements-text-sub-tittle {
    font-size: 80px;
    letter-spacing: 0.03em;
  }
  .requirements-table {
    width: 45%;
    height: 400px;
    border: 1px solid rgba(151, 151, 151, 0.4);
  }
  td {
    border: 1px solid rgba(151, 151, 151, 0.4);
    padding: 1px 15px 15px 15px;
  }
  tr {
    padding: 15px 15px;
    border: 1px solid rgba(151, 151, 151, 0.4);
  }
  .requirements-table-tittle-feature {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.08em;
  }
  .requirements-table-feature {
    font-size: 18px;
    line-height: 22px;
  }
  /*REVIEWS SEC 5 DESKTOP*/
  .reviews {
    padding-top: 160px;
    padding-bottom: 147px;
    box-shadow: 0px 28px 100px 100px rgba(0, 0, 0, 0.63) inset;
  }
  .reviews-container {
    display: flex;
    align-items: center;
    gap: 166px;
  }
  .reviews-goal {
    margin-bottom: 0;
  }
  .reviews-goals-title {
    font-size: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 8px;
  }
  .reviews-goals-subtitle {
    font-size: 80px;
    letter-spacing: 0.03em;
  }
  .reviews-goal-text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .reviews-goal-link {
    width: 260px;
    height: 60px;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    padding: 18px 30px 18px 30px;
    margin: 0;
  }
  .reviews-list-wrapper {
    width: 462px;
    float: right;
  }
  .reviews-list-wrapper:nth-child(2n) {
    margin-right: 144px;
  }
  .reviews-list-wrapper:not(:last-child) {
    margin-bottom: 29px;
  }
  .reviews-images-wrapper {
    margin-bottom: 26px;
  }
  .reviews-img {
    width: 65px;
    height: 65px;
    border: 7px solid #ffb548;
    border-top: none;
    border-left: none;
  }
  .reviews-name {
    font-size: 24px;
    letter-spacing: 0.08em;
  }
  .reviews-player {
    font-size: 18px;
  }
  .reviews-comment {
    font-size: 18px;
  }
  .reviews-date {
    font-size: 14px;
  }
  /*NEWSLETTER SEC 6 DESKTOP*/
  .newsletter {
    padding-top: 220px;
    padding-bottom: 152px;
    background-position: 160px 49px;
    background-size: 446px 695px;
    background-image: url(/images/newsletter-desktop.jpg);
    box-shadow: 110px 16px 80px 80px rgba(0, 0, 0, 1) inset,
      -880px -50px 60px 12px rgba(0, 0, 0, 1) inset;
  }
  .newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
  }
  .newsletter-subscribe-descr {
    width: 645px;
  }
  .newsletter-subscribe-descr-touch-title {
    font-size: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 9px;
  }
  .newsletter-subscribe-descr-title {
    font-size: 80px;
    letter-spacing: 0.03em;
    margin-bottom: 45px;
  }
  .newsletter-subscribe-descr-text {
    font-size: 18px;
  }
  .newsletter-subscribe-form {
    display: flex;
    gap: 17px;
  }
  .newsletter-subscribe-item-label {
    margin: 0;
  }
  .newsletter-subscribe-email-box {
    padding-left: 21px;
    border-radius: 5px;
    width: 367px;
    height: 60px;
    font-size: 18px;
  }
  .page-footer-email-box::placeholder {
    font-size: 18px;
  }
  .newsletter-subscribe-button-submit {
    border-radius: 4px;
    width: 260px;
    padding: 18px 70px;
    font-size: 16px;
  }
  /*PAGE FOOTER DESKTOP*/
  .page-footer {
    padding-top: 20px;
    padding-bottom: 46px;
  }
  .page-footer-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }
  .page-footer-demarcation-line {
    width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    stroke-width: 0.874px;
    stroke: #fff;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
  }
  .page-footer-logo {
    width: 90px;
    height: 90px;
    margin-right: 137px;
  }
  .page-footer-menu-list {
    flex-wrap: nowrap;
    gap: 38px;
    margin-right: 87px;
  }
  .page-footer-media::after {
    display: none;
  }
  .page-footer-rights-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-footer-rights {
    margin: 0;
    font-size: 14px;
  }
  .page-footer-policy {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgba(196, 130, 44, 0.2),
        rgba(196, 130, 44, 0.2)
      ),
      url("/images/hero-image-bg@2x.jpg");
  }
  .description-section {
    background-image: linear-gradient(
        rgba(15, 15, 15, 0.85),
        rgba(15, 15, 15, 0.5)
      ),
      url("/images/cave@2x.jpg");
  }
  .features {
    background-image: linear-gradient(rgba(10, 6, 50, 0.2), rgba(8, 3, 37, 0.2)),
      url("/images/men@2x.jpg");
  }
  .requirements {
    background-image: radial-gradient(
        50% 49.23% at 64.32% 47.1%,
        rgba(255, 255, 255, 0) 3.36%,
        rgba(0, 0, 0, 0) 19.22%,
        #080a0b 99.74%
      ),
      url("/images/sos@2x.jpg");
  }
  .newsletter {
    background-image: url(/images/newsletter-desktop@2x.jpg);
  }
}
