body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.email-link:hover,
.email-link:focus {
  color: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/*HEADER*/
.header {
  padding-top: 9px;
  padding-bottom: 9px;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.3),
      rgba(46, 47, 66, 0.3)
    ),
    url("/images/hero-image-bg@2x.jpg");
}
.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.card-img:hover {
  cursor: pointer;
}
.language {
  background-color: transparent;
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  margin-right: 15px;
  border: none;
}
.language:hover {
  cursor: pointer;
}
.header-lang-option {
  text-align: left;
  color: #434455;
}
.header-line-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-line-box::before {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  stroke-width: 0.874px;
  stroke: #fff;
  opacity: 0.5;
  background-color: #fff;
  margin-right: 19px;
}
.header-lang {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-menu {
  fill: #fff;
}
.icon-menu:hover {
  cursor: pointer;
}
/* @media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("/images/hero-image-bg@2x.jpg");
  } */
/* } */
