body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #434455;
  margin: 0;
  padding: 0;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.email-link:hover,
.email-link:focus {
  color: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

/*HEADER mob*/
.hero {
  padding-bottom: 80px;
  background-position: 44% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(196, 130, 44, 0.2),
      rgba(196, 130, 44, 0.2)
    ),
    url("/images/hero-image-bg-mob@2x.jpg");
  display: flex;
  flex-direction: column;
  gap: 175px;
  box-shadow: 0px -75px 100px 33px #000000 inset;
}
.header {
  padding-top: 9px;
  padding-bottom: 9px;
}
.container {
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.card-img:hover {
  cursor: pointer;
}
.header-list {
  display: none;
}
.language {
  background-color: transparent;
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  margin-right: 15px;
  border: none;
}
.language:hover {
  cursor: pointer;
}
.header-lang-option {
  text-align: left;
  color: #434455;
}
.header-line-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-line-box::before {
  display: block;
  content: "";
  width: 1px;
  height: 30px;
  stroke-width: 0.874px;
  stroke: #fff;
  opacity: 0.5;
  background-color: #fff;
  margin-right: 19px;
}
.header-lang {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-menu {
  fill: #fff;
}
.icon-menu:hover {
  cursor: pointer;
}
.header-icons {
  display: none;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero-about {
  color: #fff;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.13em;
  margin-bottom: 12px;
}
.hero-order-button {
  padding: 12px 6px;
  border-radius: 3px;
  background: linear-gradient(195deg, #ffb548 11.27%, #f3af34 90.4%);
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}
.hero-order-price {
  display: inline-flex;
  color: #1a1917;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-order-price::before {
  display: block;
  content: "";
  width: 1px;
  height: 18px;
  stroke-width: 0.874px;
  stroke: #1a1917;
  opacity: 0.5;
  background-color: #1a1917;
  margin-left: 8px;
  margin-right: 8px;
}

.hero-story-down {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.83;
  text-transform: uppercase;
}
.icon-header-scroll-down {
  margin-left: 23px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-header-scroll-down:hover {
  cursor: pointer;
  color: brown;
}

/*DESCRIPTION-SECTION mob*/
.description-section {
  padding-top: 20px;
  padding-bottom: 36px;
  background-origin: border-box;
  background-position: 32% -1px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(15, 15, 15, 0.7),
      rgba(15, 15, 15, 0.7)
    ),
    url("/images/cave.jpg");
  box-shadow: -12px 0px 100px 60px rgba(0, 0, 0, 1) inset;
  height: 710px;
}

.description {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11em;
}
.description-text-part {
  margin-bottom: 30px;
}
.description-about-wrapper {
  width: 230px;
}
.description-about {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.description-about::after {
  width: 306px;
  height: 1.7px;
  border-radius: 2.345px;
  background: #fff;
  content: "";
  display: block;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.description-about-game {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05em;
  padding-left: 22px;
}
.description-images {
  position: relative;
  left: 23px;
}
.deskr-img-list {
  left: 0;
  top: 0;
  position: absolute;
}
/*SECTION 3 FEATURES MOB*/
.features {
  padding-top: 80px;
  padding-bottom: 85px;
  background-color: #000;
  background-position: 36% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(255, 181, 72, 0.1),
      rgba(255, 181, 72, 0.1)
    ),
    url("/images/men.jpg");
  box-shadow: -100px -32px 100px 100px rgba(0, 0, 0, 1) inset;
}

.features-wrapper {
  margin-left: 100px;
  min-width: 183px;
}
.features-subtitle {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.features-tittle {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 57px;
}

.features-goals-list-item {
  position: relative;
  overflow: hidden;
}

.features-goals-list-tittle {
  color: #ffb548;
  font-family: Bebas Neue;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09em;
  margin-bottom: 36px;
}
.features-goals-list-tittle:focus {
  cursor: pointer;
  color: brown;
}
.features-goals-list-item:focus .overlay {
  transform: translateY(60%);
}
.features-goals-list-item:focus .features-goals-list-tittle {
  height: 100px;
}
.features-overlay-text {
  color: #fff;
  text-align: justify;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 80px;
  padding: 1px 1px;
  transform: translateY(-100%);
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*requirements sec 4*/
.requirements {
  background-color: #000;
  padding-top: 70px;
  padding-bottom: 234px;
}
.requirements-text-wrapper {
  margin-bottom: 70px;
  text-align: center;
}
.requirements-text-tittle {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.11em;
}
.requirements-text-sub-tittle {
  color: #fff;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.requirements-table {
  border: 0.5px solid #979797;
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 0.5px solid #979797;
  padding: 9px;
}
tr {
  height: 108px;
  padding: 9px;
  border: 0.5px solid #979797;
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgba(196, 130, 44, 0.2),
        rgba(196, 130, 44, 0.2)
      ),
      url("/images/hero-image-bg@2x.jpg");
  }
  .description-section {
    background-image: linear-gradient(
        rgba(15, 15, 15, 0.85),
        rgba(15, 15, 15, 0.85)
      ),
      url("/images/cave@2x.jpg");
  }
  .features {
    background-image: linear-gradient(
        rgba(255, 181, 72, 0.1),
        rgba(255, 181, 72, 0.1)
      ),
      url("/images/men@2x.jpg");
  }
}
/*HEADER DESKTOP*/

@media screen and (min-width: 1440px) {
  .hero {
    border-radius: 1px;
    background-position: 100% center;
    padding-bottom: 55px;
    background-image: linear-gradient(
        rgba(196, 130, 44, 0.2),
        rgba(196, 130, 44, 0.2)
      ),
      url("/images/hero-image-bg.jpg");
    box-shadow: 0px -75px 100px 33px #000000 inset;
    gap: 0;
  }
  .hero-box {
    padding-top: 219px;
    padding-bottom: 340px;
  }
  .header {
    padding-top: 21px;
  }
  .container {
    min-width: 1440px;
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }
  .header-container {
    justify-content: space-between;
    align-items: center;
  }
  .card-img {
    width: 55px;
    height: 55px;
  }
  .header-line-box {
    display: none;
  }
  .header-list {
    display: block;
  }
  .header-list-menu-link {
    display: flex;
    color: #fff;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .header-icons {
    display: flex;
    gap: 15px;
  }
  .header-lang {
    display: flex;
    gap: 15px;
  }
  .header-list-menu {
    display: flex;
    gap: 32px;
  }
  .language {
    margin-right: 0;
  }
  .header-icons::before {
    display: block;
    content: "";
    width: 1px;
    height: 30px;
    stroke-width: 0.874px;
    stroke: #fff;
    opacity: 0.5;
    background-color: #fff;
    margin-right: 0px;
  }

  .icon-header {
    fill: #ffb548;
  }
  .hero-title {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0.03;
    margin-bottom: 0;
  }
  .hero-about {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin-bottom: 28px;
  }
  .hero-order-button {
    padding: 17px 16px;
    font-size: 16px;
  }
  .hero-story {
    width: 68px;
    display: block;
    margin: 0 auto;
  }
  /*DESCRIPTION-SECTION desktop*/
  .description-section {
    padding-top: 200px;
    padding-bottom: 141px;
    background-origin: padding-box;
    background-origin: border-box;
    background-position: left top;
    background-size: cover;
    background-image: linear-gradient(
        rgba(15, 15, 15, 0.85),
        rgba(15, 15, 15, 0.85)
      ),
      url("/images/cave.jpg");
    box-shadow: 0px 0px 100px 43px rgba(0, 0, 0, 1) inset;
    height: 961px;
  }
  .description-container {
    display: flex;
    gap: 30px;
  }
  .description-text-part {
    padding-top: 54px;
    padding-bottom: 108px;
  }
  .description {
    font-size: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
  }
  .description-about-wrapper {
    width: 580px;
  }
  .description-about {
    font-size: 80px;
    letter-spacing: 0.05em;
    line-height: 1;
  }
  .description-about::after {
    border-radius: 4;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 60px;
  }
  .description-about-game-wrapper {
    margin-left: 187px;
    width: 365px;
  }
  .description-about-game {
    font-size: 18px;
    line-height: 22px;
    padding-left: 0;
    margin: 0;
  }

  .deskr-img {
    background-size: cover;
    width: 502px;
    height: 610px;
  }
  /*SECTION 3 FEATURES DESKTOP*/
  .features {
    padding-top: 170px;
    padding-bottom: 255px;
    background-position: left top;
    background-image: linear-gradient(rgba(7, 4, 44, 0.2), rgba(8, 3, 37, 0.2)),
      url("/images/men.jpg");
    box-shadow: -183px 80px 1330px 53px rgba(0, 0, 0, 1) inset;
  }
  .features-wrapper {
    padding-left: 720px;
  }
  .features-subtitle {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .features-tittle {
    font-size: 80px;
    margin-bottom: 70px;
  }
  .features-goals-list-tittle {
    font-size: 36px;
    letter-spacing: 0.05em;
  }
  .features-goals-list-tittle:hover {
    cursor: pointer;
    color: brown;
  }
  .features-goals-list-item:hover .overlay {
    transform: translateY(60%);
  }

  .features-goals-list-item:hover .features-goals-list-tittle {
    height: 100px;
  }
  .features-overlay-text {
    color: #fff;
    text-align: justify;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100px;
    padding: 1px 1px;
    transform: translateY(-100%);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        rgba(196, 130, 44, 0.2),
        rgba(196, 130, 44, 0.2)
      ),
      url("/images/hero-image-bg@2x.jpg");
  }
  .description-section {
    background-image: linear-gradient(
        rgba(15, 15, 15, 0.85),
        rgba(15, 15, 15, 0.85)
      ),
      url("/images/cave@2x.jpg");
  }
  .features {
    background-image: linear-gradient(rgba(10, 6, 50, 0.2), rgba(8, 3, 37, 0.2)),
      url("/images/men@2x.jpg");
  }
}
